{{> heroes.hero }}

<section class="u-padding--all">
    {{> card-grid }}
</section>
<section class="u-padding--all u-bg-c--gray u-color--white">
    <div id="app">
        <test></test>

    </div>
</section>


<section class="u-padding--all u-bg-c--blue">
    {{> card-grid }}
</section>


{{> heroes.hero }}


<footer class="u-bg-c--gray u-padding--all u-color--white" style="min-height:500px;">
    test
</footer>

{{> heroes.hero }}

<footer class="u-bg-c--gray u-padding--all u-color--white" style="min-height:500px;">
        test
    </footer>