{{> heroes.hero }}

<div class="grid grid--base grid--2-3--reverse">

    <div class="u-margin--bottom ">
        <div class="u-sticky--padding u-margin--top ">
         {{> navs.navigation-bordered-list }}
        </div>
    </div>


    <div class="u-padding--all">
        
        <div class="grid grid--base grid--2">

            <div>
                {{> cards.card}}
            </div>

            <div>
                {{> cards.card}}
            </div>

            <div>
                {{> cards.card}}
            </div>

            <div>
                {{> cards.card}}
            </div>

        </div>

    </div>

</div>

<footer class="footer u-bg-c--gray u-padding--all u-color--white">
    
    <img src="http://placekitten.com/g/1024/800" />

</footer>