.nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;

  flex-direction: column;

  &__item {
    padding: $mobile-spacing-unit;
    .nav-list--bordered & {
      border-bottom: 1px solid $color-gray--mid;
    }
  }

  &--h {
    flex-direction: row;
    &--bordered {
      .nav-list__item {
        padding: $mobile-spacing-unit $grid-spacing-unit;
        border-right: 1px solid $color-gray--mid;
        &:last-child {
          border: 0;
        }
      }
    }
  }

  .link {
    text-decoration: none;
    color: $color-gray--mid;
    font-weight: bold;
    &:hover {
      color: $color-blue;
    }
  }
}
