.f-menu-active {
    body {
        padding: 0;
    }
}
.f-item-preview {
    .title-block.is-sticky {
        position: relative !important;
    }
    .nav-top {
        position: relative !important;
    }
    .head {
        position: relative !important;
    }
}